<div class="section">
    <div class="top-border left"></div>
    <div class="top-border right"></div>
    <h2>ABOUT NEXTSTAY.COM</h2>
    <p>Founded in 1996 in Downtown Los Angeles,California Nextstay.com has grown from a small Dutch startup to one of the world’s leading digital travel companies. Part of Booking Holdings Inc. (NASDAQ: BKNG), Nextstay.com’s mission is to make it easier for everyone to experience the world.
<br><br>
        By investing in the technology that helps take the friction out of travel, Nextstay.com seamlessly connects millions of travellers with memorable experiences, a range of transport options and incredible places to stay - from homes to hotels and much more. As one of the world’s largest travel marketplaces for both established brands and entrepreneurs of all sizes, Nextstay.com enables properties all over the world to reach a global audience and grow their businesses.
  <br><br>    
        Nextstay.com is available in 43 languages and offers more than 28 million total reported accommodation listings, including over 6.2 million listings alone of homes, apartments and other unique places to stay. No matter where you want to go or what you want to do, Nextstay.com makes it easy and backs it all up with 24/7 customer support.</p>
<h2>Terms and conditions</h2>
        <p>Money is not refundable. Do not use the guest rooms for purposes other than intended without authorization.
      Do not light fire in the passage or guest rooms for heating or cooking.
      To prevent fire, refrain from smoking on bed, in non-smoking rooms, and in any other places prone to catch fire.
      The equipment and articles in guest rooms are strictly meant for the guests staying in the Hotel. Hence, inside the guest rooms, use of such equipment and articles by outsiders is prohibited.
      Be careful not to move the articles in the Hotel or guest rooms from their fixed places without permission.</p>
      </div>
