<div class="section">
    <div class="top-border left"></div>
    <div class="top-border right"></div>
    <h2>CONTACT NEXTSTAY.COM</h2>
    <p>

       Please Give us a chance to show our hospitality and make your stay a memorable one during your visit. 
      <br> <br>For questions and enquiry please contact us here.<br><br>
      NEXTSTAY.COM HEADQUARTES<br>

Spituk Road
Downtown Los Angeles,
California<br>
Pin Code: 194101<br>
Phone: 202-204-7890<br>
Email: Nextstayhotel@gmail.com
    
    </p>
    <a href="#">CONTACT US</a>
  </div>

 