
  <section class="showcase">
    <h1><span class="s-color">Enjoy</span> your stay</h1>
    <h1><span class="s-color">Hey</span> here!</h1>
    <a href="/city">Search your Nextstay</a>
  </section>

  <section class="hotel-history">
    <div class="box-1"></div>
    <div class="box-2">
      <h1><span class="s-color">The History</span> Of Our Hotel</h1>
      <p>
        Nextstay has a wide range of luxury and budget-friendly hotel chain
         properties. We have picked the finest hotels in India with world-class 
         amenities. We bring you not only a stay option, but an experience in your
          budget to enjoy the luxury. We make sure that all the hotels are safe, 
          hygienic, comfortable, and easily approachable when it comes to location. Book your hotel with Nextstay and don’t forget to grab an amazing hotel deal to save huge on your stay.
      </p>
      <a href="/aboutus">Read more</a>
    </div>
  </section>

  <section class="offers">
    <div class="offers-container">
      <div class="offer-1">
        <i class="fas fa-hotel fa-3x"></i>
        <h1>Great Location</h1>
        <p>
         We are selected some best locations around the world for you.
        </p>
      </div>
      <div class="offer-2">
        <i class="fas fa-hamburger fa-3x"></i>
        <h1>Free Meals</h1>
        <p>
         Various Types Of Cuisines!!
          
        </p>
      </div>
      <div class="offer-3">
        <i class="fas fa-dumbbell fa-3x"></i>
        <h1>Great Stay</h1>
        <p>
          Top Rated by our customers.
          Clean Rooms with sceneries.
        </p>
      </div>
    </div>
    
  </section>


 

 